@{ 
    ViewData["Title"] = "Forget Password Confirmation";
}

<div class="border backgroundWhite container shadow" style="margin-top:30px;">
    <h3 class="text-success"><i class="fas fa-lock"></i>&nbsp;Forget Password</h3>
    <hr />
    <h4 class="text-primary">
        If you have an account with us, we have sent an email
        with the instructions to reset your password.
    </h4>
</div>  