@{ 
    ViewData["Title"] = "Reset Password Confirmation";
}


<div class="border backgroundWhite container shadow" style="margin-top:30px;">
    <h3 class="text-success"><i class="fas fa-envelope"></i>&nbsp;Confirm Email</h3>
    <hr />
    <h4 class="alert alert-success">
        Congratulations! your password has been reset successfully!
    </h4>
    <form method="post">
        <button class="btn btn-light" asp-controller="account" asp-action="Logout">
            <i class="fa fa-sign-out-alt"></i>&nbsp;Logout
        </button>
    </form>
</div>