@{ 
    ViewData["Title"] = "Access Denied";
}

<div class="border backgroundWhite container shadow" style="margin-top:30px;">
    <h3 class="text-danger"><i class="fab fa-accessible-icon"></i>&nbsp;@ViewData["AccessDeniedMessage"]</h3>
    <hr />
    <div class="text-center text-danger">
        <h4 class="display-4">Sorry</h4>
        <p>You do not have access or permission to view this resource!</p>
        <p>Please contact our IT support staffs.</p>
        <img src="~/images/no-access-denied.jpeg" style="width:300px;" />
    </div>
</div>