@{
    ViewData["Title"] = "Exception Occured!";
}

<div class="row">
    <div class="col-sm-12">
        <div class="border backgroundWhite container shadow" style="margin-top:40px;">
            <div class="alert alert-danger">
                <h1>
                    Sorry for the error, our IT staffs are handling
                    the error! Please be patience.
                </h1>
                <hr />

            </div>
            <a asp-controller="admin" asp-action="index" class="btn btn-success">
                <i class="fas fa-long-arrow-alt-left"></i>&nbsp;Click the link below to navigate to the list of customers!
            </a>

        </div>
    </div>
</div>
