@{
    ViewData["Title"] = "Not Found";
}

@if (ViewBag.ErrorTitle != null)
{
    <div class="row px-2 mx-2 backgroundWhite border shadow" style="margin-top:30px;">
        <div>
            <h1>@ViewBag.ErrorTitle</h1>
            <p class="display-4 text-danger">
                @ViewBag.ErrorMessage
            </p>
            <hr />
        </div>
        <br />
        <a asp-controller="Admin" asp-action="Index" class="btn btn-success">
            <i class="fas fa-long-arrow-alt-left"></i>&nbsp;Click the link to navigate to the list of customers!
        </a>
    </div>
}
